<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gimsa">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>imsa</title>
    <link rel="icon" type="image/x-icon" href="../../../img/logo-favicon.png">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../.././css/product-detail.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <!-- <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul> -->
        <div class="offcanvas__logo">
            <a href="../../../index.html"><img src="../../../img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <!-- <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div> -->
    </div>
    <!-- Offcanvas Menu End -->


    <!-- Header Section Begin -->
    <header class="header">




        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="../../../index.html"><img src="../../../img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu" id="header_menu">
                        <ul>
                            <li class="active"><a href="../../../index.html">Home</a></li>
                            <li><a href="../catalogo/catalogo-mueblesdebano.html">Catálogo</a>
                                <ul class="dropdown">
                                    <li><a href="../catalogo/catalogo-mueblesdebano.html">Muebles de Baño</a></li>
                                    <li><a href="../catalogo/catalogo-mueblesdebano.html">Vitrinas y Mostradores</a>
                                    </li>
                                    <li><a href="../catalogo/catalogo-mueblesdebano.html">Cocinas y Clósets</a></li>
                                    <li><a href="../catalogo/catalogo-mueblesdebano.html">Decoración</a></li>
                                    <li><a href="../catalogo/catalogo-mueblesdebano.html">Accesorios</a></li>
                                </ul>
                            </li>
                            <li><a href="shop.html">PIDE TU COTIZACIÓN</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Inicio</a>
                        <span>Catálogo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#product-1">
                                <img src="../../../img/product/details/product-1.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-2">
                                <img src="../../../img/product/details/product-2.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-3">
                                <img src="../../../img/product/details/product-3.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-4">
                                <img src="../../../img/product/details/product-4.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-5">
                                <img src="../../../img/product/details/product-5.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-6">
                                <img src="../../../img/product/details/product-6.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-7">
                                <img src="../../../img/product/details/product-7.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-8">
                                <img src="../../../img/product/details/product-8.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-9">
                                <img src="../../../img/product/details/product-9.jpg" alt="">
                            </a>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="product-1" class="product__big__img"
                                    src="../../../img/product/details/product-1.jpg" alt="">
                                <img data-hash="product-2" class="product__big__img"
                                    src="../../../img/product/details/product-2.jpg" alt="">
                                <img data-hash="product-3" class="product__big__img"
                                    src="../../../img/product/details/product-3.jpg" alt="">
                                <img data-hash="product-4" class="product__big__img"
                                    src="../../../img/product/details/product-4.jpg" alt="">
                                <img data-hash="product-5" class="product__big__img"
                                    src="../../../img/product/details/product-5.jpg" alt="">
                                <img data-hash="product-6" class="product__big__img"
                                    src="../../../img/product/details/product-6.jpg" alt="">
                                <img data-hash="product-7" class="product__big__img"
                                    src="../../../img/product/details/product-7.jpg" alt="">
                                <img data-hash="product-8" class="product__big__img"
                                    src="../../../img/product/details/product-8.jpg" alt="">
                                <img data-hash="product-9" class="product__big__img"
                                    src="../../../img/product/details/product-9.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>Juego Económico con mármol 60 cm </h3>
                        <div class="product__details__price">$ 4,500.0</div>
                        <p>Mueble de mdf terminado en pintura o melamina de 60 x 45 x 80 cm. Incluye:</p>
                        <p>* Placa de mármol de cascada o tallada en una pieza con espejo de 50 x 60 cm de al tono del mueble o de la placa</p>
                        <p>* Ó placa de mármol plana con ovalín igual o menor a 35 cm  con espejo de 50 x 60 cm de al tono del mueble o de la placa</p>

                        <div class="product__details__widget">
                            <ul>

                                <li></li>
                                <li>

                                    <span>Medidas:</span>
                                    <div class="size__btn">
                                        <label for="s-btn">
                                            <button class="btn btn-outline-info btn-sm active" type="radio" id="s-btn">60 cm </button>
                                        </label>
                                        <label for="s-btn">
                                            <button class="btn btn-outline-info btn-sm" type="radio" id="s-btn">
                                                <a class="text-info" href="../productDetails/MueblesDeBano/Completo-Mármol-80.html">
                                                80 cm
                                            </a></button>
                                        </label>
                                        <label for="l-btn">
                                            <input type="radio" id="l-btn">
                                            
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Promociones:</span>
                                    <p>Envío gratis dentro de Morelia</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Colores de mueble</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Colores de mármol</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Da click en un color para ampliar</h6>
                                <div class="color__checkbox">
                                    <label for="Antártica" data-toggle="tooltip" data-placement="top" title="Antártica">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Antártica.jpg"> <img
                                                    src="../../../img/product/colors/Antártica.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Báltico" data-toggle="tooltip" data-placement="top" title="Báltico">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Antártica.jpg"> <img
                                                src="../../../img/product/colors/Antártica.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Blanco" data-toggle="tooltip" data-placement="top" title="Blanco">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Blanco.jpg"> <img
                                                    src="../../../img/product/colors/Blanco.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Ceniza" data-toggle="tooltip" data-placement="top" title="Ceniza">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Ceniza.jpg"> <img
                                                    src="../../../img/product/colors/Ceniza.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Chocolate" data-toggle="tooltip" data-placement="top" title="Chocolate">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Chocolate.jpg"> <img
                                                    src="../../../img/product/colors/Chocolate.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Concreto" data-toggle="tooltip" data-placement="top" title="Concreto">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Concreto.jpg"> <img
                                                    src="../../../img/product/colors/Concreto.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Ébano Amazónico" data-toggle="tooltip" data-placement="top" title="Ébano Amazónico">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Ébano Amazónico.jpg"> <img
                                                    src="../../../img/product/colors/Ébano Amazónico.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Encino Apalaches" data-toggle="tooltip" data-placement="top" title="Encino Apalaches">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Encino Apalaches.jpg"> <img
                                                    src="../../../img/product/colors/Encino Apalaches.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Fioré" data-toggle="tooltip" data-placement="top" title="Fioré">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Fioré.jpg"> <img
                                                    src="../../../img/product/colors/Fioré.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Gris Antracita" data-toggle="tooltip" data-placement="top" title="Gris Antracita">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Gris Antracita.jpg"> <img
                                                    src="../../../img/product/colors/Gris Antracita.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Gris Claro" data-toggle="tooltip" data-placement="top" title="Gris Claro">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Gris Claro.jpg"> <img
                                                    src="../../../img/product/colors/Gris Claro.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Gris Cúbrica" data-toggle="tooltip" data-placement="top" title="Gris Cúbrica">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Gris Cúbrica.jpg"> <img
                                                    src="../../../img/product/colors/Gris Cúbrica.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Guadiana" data-toggle="tooltip" data-placement="top" title="Guadiana">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Guadiana.jpg"> <img
                                                    src="../../../img/product/colors/Guadiana.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Husky" data-toggle="tooltip" data-placement="top" title="Husky">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Husky.jpg"> <img
                                                    src="../../../img/product/colors/Husky.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Islandia" data-toggle="tooltip" data-placement="top" title="Islandia">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Islandia.jpg"> <img
                                                    src="../../../img/product/colors/Islandia.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Maranello" data-toggle="tooltip" data-placement="top" title="Maranello">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Maranello.jpg"> <img
                                                    src="../../../img/product/colors/Maranello.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Moca" data-toggle="tooltip" data-placement="top" title="Moca">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Moca.jpg"> <img
                                                    src="../../../img/product/colors/Moca.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Negro" data-toggle="tooltip" data-placement="top" title="Negro">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Negro.jpg"> <img
                                                    src="../../../img/product/colors/Negro.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Nogal Africano" data-toggle="tooltip" data-placement="top" title="Nogal Africano">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Nogal Africano.jpg"> <img
                                                    src="../../../img/product/colors/Nogal Africano.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Nogal Imperial" data-toggle="tooltip" data-placement="top" title="Nogal Imperial">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Nogal Imperial.jpg"> <img
                                                    src="../../../img/product/colors/Nogal Imperial.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Nogal Irlandés" data-toggle="tooltip" data-placement="top" title="Nogal Irlandés">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Nogal Irlandés.jpg"> <img
                                                    src="../../../img/product/colors/Nogal Irlandés.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Palo de Fierro" data-toggle="tooltip" data-placement="top" title="Palo de Fierro">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Palo de Fierro.jpg"> <img
                                                    src="../../../img/product/colors/Palo de Fierro.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Parota" data-toggle="tooltip" data-placement="top" title="Parota">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Parota.jpg"> <img
                                                    src="../../../img/product/colors/Parota.jpg" /></a>
                                        </div>
                                    </label> 
                                    <label for="Prime Ash" data-toggle="tooltip" data-placement="top" title="Prime Ash">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Prime Ash.jpg"> <img
                                                    src="../../../img/product/colors/Prime Ash.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Roble Francés" data-toggle="tooltip" data-placement="top" title="Roble Francés">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Roble Francés.jpg"> <img
                                                    src="../../../img/product/colors/Roble Francés.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Roble Peruano" data-toggle="tooltip" data-placement="top" title="Roble Peruano">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Roble Peruano.jpg"> <img
                                                    src="../../../img/product/colors/Roble Peruano.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Textil" data-toggle="tooltip" data-placement="top" title="Textil">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Textil.jpg"> <img
                                                    src="../../../img/product/colors/Textil.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Tzalam" data-toggle="tooltip" data-placement="top" title="Tzalam">
                                        <div class="round">
                                            <a href="../../../img/product/colors/Tzalam.jpg"> <img
                                                    src="../../../img/product/colors/Tzalam.jpg" /></a>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Colores de mármol disponibles</h6>
                                <div class="color__checkbox">
                                    <label for="Amarillo" data-toggle="tooltip" data-placement="top" title="Amarillo">
                                        <div class="round">
                                            <a href="../../../img/product/colors/marmol/Amarillo.jpg"> <img
                                                    src="../../../img/product/colors/marmol/Amarillo.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Belagio" data-toggle="tooltip" data-placement="top" title="Belagio">
                                        <div class="round">
                                            <a href="../../../img/product/colors/marmol/Belagio.jpg"> <img
                                                    src="../../../img/product/colors/marmol/Belagio.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Blanco con gris" data-toggle="tooltip" data-placement="top" title="Blanco con gris">
                                        <div class="round">
                                            <a href="../../../img/product/colors/marmol/Blanco con gris.jpg"> <img
                                                    src="../../../img/product/colors/marmol/Blanco con gris.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Guardiana" data-toggle="tooltip" data-placement="top" title="Guardiana">
                                        <div class="round">
                                            <a href="../../../img/product/colors/marmol/Guardiana.jpg"> <img
                                                    src="../../../img/product/colors/marmol/Guardiana.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Oxford" data-toggle="tooltip" data-placement="top" title="Oxford">
                                        <div class="round">
                                            <a href="../../../img/product/colors/marmol/Oxford.jpg"> <img
                                                    src="../../../img/product/colors/marmol/Oxford.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Rojo" data-toggle="tooltip" data-placement="top" title="Rojo">
                                        <div class="round">
                                            <a href="../../../img/product/colors/marmol/Rojo.jpg"> <img
                                                    src="../../../img/product/colors/marmol/Rojo.jpg" /></a>
                                        </div>
                                    </label>
                                    <label for="Travertino" data-toggle="tooltip" data-placement="top" title="Travertino">
                                        <div class="round">
                                            <a href="../../../img/product/colors/marmol/Travertino.jpg"> <img
                                                    src="../../../img/product/colors/marmol/Travertino.jpg" /></a>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>Productos relacionados</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../../img/instagram/insta-1.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../../img/instagram/insta-2.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../../img/instagram/insta-3.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../../img/instagram/insta-4.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../../img/instagram/insta-5.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../../img/instagram/insta-6.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="../../../index.html"><img src="../../../img/logo.png" alt=""></a>
                        </div>
                        <p>🇲🇽 Empresa michoacana con más de 10 años de experiencia en la fabricación de vitrinas y
                            mostradores. Muebles de baño artesanales de melamina en combinación con mármol, ónix y
                            cristal. Diseño e instalación de cocinas y clósets. </p>
                        <div class="footer__payment">
                            <a href="#"><img src="../../../img/payment/payment-1.png" alt=""></a>
                            <a href="#"><img src="../../../img/payment/payment-2.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>CONTÁCTANOS EN NUESTRAS REDES SOCIALES</h6>
                        <div class="footer__social">
                            <a href="https://www.instagram.com/gimsaperiodismo/"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/periodismo.g.p"><i class="fa fa-facebook"></i></a>
                            <a href="https://wa.me/message/SUEFE3HXP3G3E1  "><i class="fa fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="../../../js/jquery-3.3.1.min.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
    <script src="../../../js/jquery.magnific-popup.min.js"></script>
    <script src="../../../js/jquery-ui.min.js"></script>
    <script src="../../../js/mixitup.min.js"></script>
    <script src="../../../js/jquery.countdown.min.js"></script>
    <script src="../../../js/jquery.slicknav.js"></script>
    <script src="../../../js/owl.carousel.min.js"></script>
    <script src="../../../js/jquery.nicescroll.min.js"></script>
    <script src="../../../js/main.js"></script>
</body>

</html>