<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gimsa">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>imsa</title>
    <link rel="icon" type="image/x-icon" href="../../../img/logo-favicon.png">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../.././css/product-detail.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../.././css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <!-- <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul> -->
        <div class="offcanvas__logo">
            <a href="../../../index.html"><img src="../../../img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <!-- <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div> -->
    </div>
    <!-- Offcanvas Menu End -->


    <!-- Header Section Begin -->
    <header class="header">




        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="../../../index.html"><img src="../../../img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu" id="header_menu">
                        <ul>
                            <li class="active"><a href="../../../index.html">Home</a></li>
                            <li><a href="../.././catalogo/catalogo-mueblesdebano.html">Catálogo</a>
                                <ul class="dropdown">
                                    <li><a href="../../../catalogo/catalogo-mueblesdebano.html">Muebles de Baño</a></li>
                                    <li><a href="../../../catalogo/catalogo-mueblesdebano.html">Vitrinas y Mostradores</a>
                                    </li>
                                    <li><a href="../../../catalogo/catalogo-cocinas.html">Cocinas y Clósets</a></li>
                                    <li><a href="../../../catalogo/catalogo-decoracion.html">Decoración</a></li>
                                    <li><a href="../../../catalogo/catalogo-accesorios.html">Accesorios</a></li>
                                </ul>
                            </li>
                            <li><a href="../../cotizacion.html">PIDE TU COTIZACIÓN</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="../../../index.html"><i class="fa fa-home"></i> Inicio</a>
                        <span>Catálogo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container" path="../../../img/product/details/darita/" n_images=9 id="main_container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll" id="product__details__pic__left">
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="product-1" class="product__big__img"
                                    src="../../../img/product/details/darita/product-1.jpg" alt="">
                                <img data-hash="product-2" class="product__big__img"
                                    src="../../../img/product/details/darita/product-2.jpg" alt="">
                                <img data-hash="product-3" class="product__big__img"
                                    src="../../../img/product/details/darita/product-3.jpg" alt="">
                                <img data-hash="product-4" class="product__big__img"
                                    src="../../../img/product/details/darita/product-4.jpg" alt="">
                                <img data-hash="product-5" class="product__big__img"
                                    src="../../../img/product/details/darita/product-5.jpg" alt="">
                                <img data-hash="product-6" class="product__big__img"
                                    src="../../../img/product/details/darita/product-6.jpg" alt="">
                                <img data-hash="product-7" class="product__big__img"
                                    src="../../../img/product/details/darita/product-7.jpg" alt="">
                                <img data-hash="product-8" class="product__big__img"
                                    src="../../../img/product/details/darita/product-8.jpg" alt="">
                                <img data-hash="product-9" class="product__big__img"
                                    src="../../../img/product/details/darita/product-9.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>darita </h3>
                        <div class="product__details__price">$ 2,500.0</div> 
                        <p>Mueble de mdf terminado en pintura o melamina de 40 x 43 x 40 cm. Incluye:</p>
                        <p>* Ovalin igual o menor a 35 cm con espejo de 50 x 60 cm de al tono del mueble.</p>

                        <div class="product__details__widget">
                            <ul>

                                <li></li>
                                <li>

                                    <span>Medidas:</span>
                                    <div class="size__btn">
                                        <label for="xs-btn">
                                            <button class="btn btn-outline-info btn-sm active" type="radio" id="xs-btn">40 cm </button>
                                        </label>
                                        
                                    </div>
                                </li>
                                <li>
                                    <span>Promociones:</span>
                                    <p>Envío gratis dentro de Morelia</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Colores de mueble</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Colores de mármol</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Da click en un color para ampliar</h6>
                                <div class="color__checkbox" id="mdfColors">
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Da click en un color para ampliar</h6>
                                <div class="color__checkbox" id="marmolColors">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>Productos relacionados</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="../../../img/shop/muebles_de_bano-4.jpg">
                            <ul class="product__hover">
                                <li><a href="../../../img/shop/muebles_de_bano-4.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="../../productDetails/MueblesDeBano/Completo-Mármol-80.html" ><span class="icon_info"></span></a></li>
                                <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li> -->
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="../../productDetails/MueblesDeBano/Completo-Mármol-80.html">Juego mármol 80</a></h6>
                            <div class="small text-secondary" >
                                Cubierta y espejo de mármol con o sin ovalín. 
                            </div>
                            <div class="product__price">$ 5,000</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="../../../img/shop/muebles_de_bano-1.jpg">
                                    <ul class="product__hover">
                                        <li><a href="../../../img/shop/muebles_de_bano-1.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="../../productDetails/MueblesDeBano/Económico-Mármol-60.html" ><span class="icon_info"></span></a></li>
                                        <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li> -->
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="../../productDetails/MueblesDeBano/Económico-Mármol-60.html">Juego económico mármol 60</a></h6>
                                    <div class="small text-secondary" >
                                        Cubierta y espejo de madera con ovalin chico. 
                                    </div>
                                    <div class="product__price">$ 3,400</div>
                                </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../../img/instagram/insta-1.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../../img/instagram/insta-2.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../../img/instagram/insta-3.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../../img/instagram/insta-4.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../../img/instagram/insta-5.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../../img/instagram/insta-6.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="../../../index.html"><img src="../../../img/logo.png" alt=""></a>
                        </div>
                        <p>🇲🇽 Empresa michoacana con más de 10 años de experiencia en la fabricación de vitrinas y
                            mostradores. Muebles de baño artesanales de melamina en combinación con mármol, ónix y
                            cristal. Diseño e instalación de cocinas y clósets. </p>
                        <div class="footer__payment">
                            <a href="#"><img src="../../../img/payment/payment-1.png" alt=""></a>
                            <a href="#"><img src="../../../img/payment/payment-2.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>CONTÁCTANOS EN NUESTRAS REDES SOCIALES</h6>
                        <div class="footer__social">
                            <a href="https://www.instagram.com/gimsaperiodismo/"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/periodismo.g.p"><i class="fa fa-facebook"></i></a>
                            <a href="https://wa.me/message/SUEFE3HXP3G3E1  "><i class="fa fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="../../../js/jquery-3.3.1.min.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
    <script src="../../../js/jquery.magnific-popup.min.js"></script>
    <script src="../../../js/jquery-ui.min.js"></script>
    <script src="../../../js/mixitup.min.js"></script>
    <script src="../../../js/jquery.countdown.min.js"></script>
    <script src="../../../js/jquery.slicknav.js"></script>
    <script src="../../../js/owl.carousel.min.js"></script>
    <script src="../../../js/jquery.nicescroll.min.js"></script>
    <script src="../../../js/main.js"></script>
    <script src="../../../js/productos/general.js"></script>

</body>

</html>