<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gimsa">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>imsa</title>
    <link rel="icon" type="image/x-icon" href="../../img/logo-favicon.png">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

   <!-- Css Styles -->
   <link rel="stylesheet" href="../.././css/bootstrap.min.css" type="text/css">
   <link rel="stylesheet" href="../.././css/font-awesome.min.css" type="text/css">
   <link rel="stylesheet" href="../.././css/elegant-icons.css" type="text/css">
   <link rel="stylesheet" href="../.././css/jquery-ui.min.css" type="text/css">
   <link rel="stylesheet" href="../.././css/magnific-popup.css" type="text/css">
   <link rel="stylesheet" href="../.././css/owl.carousel.min.css" type="text/css">
   <link rel="stylesheet" href="../.././css/slicknav.min.css" type="text/css">
   <link rel="stylesheet" href="../.././css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <div class="offcanvas__logo">
            <a href="../../index.html"><img src="../../img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>

    </div>
    <!-- Offcanvas Menu End -->


    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="../../index.html"><img src="../../img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu" id="header_menu">
                        <ul>
                            <li class="active"><a href="../../index.html">Home</a></li>
                            <li><a href="catalogo-mueblesdebano.html">Catálogo</a>
                                <ul class="dropdown">
                                    <li><a href="catalogo-mueblesdebano.html">Muebles de Baño</a></li>
                                    <li><a href="catalogo-mueblesdebano.html">Vitrinas y Mostradores</a></li>
                                    <li><a href="catalogo-mueblesdebano.html">Cocinas y Clósets</a></li>
                                    <li><a href="catalogo-mueblesdebano.html">Decoración</a></li>
                                    <li><a href="catalogo-mueblesdebano.html">Accesorios</a></li>
                                </ul>
                            </li>
                            <li><a href="shop.html">PIDE TU COTIZACIÓN</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="../../index.html"><i class="fa fa-home"></i> Inicio</a>
                        <span>Catálogo Muebles de Baño</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Productos</h4>
                            </div>
                            <div class="categories__accordion">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-heading active">
                                            <a data-toggle="collapse" data-target="#collapseOne">Muebles de Baño</a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li><a href="#">Espacios Pequeños</a></li>
                                                    <li><a href="#">Económicos</a></li>
                                                    <li><a href="#">Juegos sin espejo</a></li>
                                                    <li><a href="#">Juegos completos</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseTwo">Vitrinas y mostradores</a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li><a href="#">Verticales</a></li>
                                                    <li><a href="#">Horizontales</a></li>
                                                    <li><a href="#">Puntos de venta</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseThree">Cocinas y clósets</a>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li><a href="#">Clósets</a></li>
                                                    <li><a href="#">Cocinas de formaica</a></li>
                                                    <li><a href="#">Cocinas de granito</a></li>
                                                    <li><a href="#">Cocinas de cuarzo</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseFour">Decoración</a>
                                        </div>
                                        <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li><a href="#">Lámparas</a></li>
                                                    <li><a href="#">Jaboneras</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseFive">Accesorios</a>
                                        </div>
                                        <div id="collapseFive" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li><a href="#">Llaves</a></li>
                                                    <li><a href="#">Céspoles</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar__sizes">
                            <div class="section-title">
                                <h4>Tamaño</h4>
                            </div>
                            <div class="size__list">
                                <label for="xs">
                                    menor a 60 cm
                                    <input checked type="checkbox" value="true" id="xs" >
                                    <span class="checkmark" value="true"></span>
                                </label>
                                <label for="s">
                                    60 cm
                                    <input checked type="checkbox" id="s">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="l">
                                    80 cm
                                    <input checked type="checkbox" id="l">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="xl">
                                    mayor a 80
                                    <input checked type="checkbox" id="xl">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="sidebar__sizes">
                            <div class="section-title">
                                <h4>Material</h4>
                            </div>
                            <div class="size__list">
                                <label for="mar">
                                    Mármol
                                    <input checked type="checkbox" id="mar">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="oni">
                                    Ónix
                                    <input checked type="checkbox" id="oni">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="sidebar__sizes">
                            <div class="section-title">
                                <h4>Juegos</h4>
                            </div>
                            <div class="size__list">
                                <label for="eco">
                                    Juego económico
                                    <input checked type="checkbox" id="eco">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="com">
                                    Juego completo
                                    <input checked type="checkbox" id="com">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row">

                        <!-- ========================   INCIO MÁRMOL  ======================-->
                        <div class="col-lg-4 col-md-6 s mar eco">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="../../img/shop/muebles_de_bano-1.jpg">
                                    <ul class="product__hover">
                                        <li><a href="../../img/shop/muebles_de_bano-1.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="../productDetails/Económico-Mármol-60.html" ><span class="icon_info"></span></a></li>
                                        <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li> -->
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="../productDetails/Económico-Mármol-60.html">Juego económico mármol 60</a></h6>
                                    <div class="small text-secondary" >
                                        Cubierta y espejo de madera con ovalin chico. 
                                    </div>
                                    <div class="product__price">$ 3,400</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 l mar eco">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="../../img/shop/muebles_de_bano-2.jpg">
                                    <ul class="product__hover">
                                        <li><a href="../../img/shop/muebles_de_bano-2.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="../productDetails/Económico-Mármol-60.html" ><span class="icon_info"></span></a></li>
                                        <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li> -->
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Juego económico mármol 80</a></h6>
                                    <div class="small text-secondary" >
                                        Cubierta y espejo de madera con ovalin chico. 
                                    </div>
                                    <div class="product__price">$ 3,600</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 s mar com">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="../../img/shop/muebles_de_bano-3.jpg">
                                    <ul class="product__hover">
                                        <li><a href="../../img/shop/muebles_de_bano-3.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="../productDetails/Completo-Mármol-60.html" ><span class="icon_info"></span></a></li>
                                        <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li> -->
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Juego mármol 60</a></h6>
                                    <div class="small text-secondary" >
                                        Cubierta y espejo de mármol con o sin ovalín. 
                                    </div>
                                    <div class="product__price">$ 4,500</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 l mar com">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="../../img/shop/muebles_de_bano-4.jpg">
                                    <ul class="product__hover">
                                        <li><a href="../../img/shop/muebles_de_bano-4.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="../productDetails/Completo-Mármol-60.html" ><span class="icon_info"></span></a></li>
                                        <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li> -->
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Juego mármol 80</a></h6>
                                    <div class="small text-secondary" >
                                        Cubierta y espejo de mármol con o sin ovalín. 
                                    </div>
                                    <div class="product__price">$ 5,000</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 xs mar eco">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="../../img/shop/muebles_de_bano-5.jpg">
                                    <ul class="product__hover">
                                        <li><a href="../../img/shop/muebles_de_bano-5.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="../productDetails/Completo-Mármol-60.html" ><span class="icon_info"></span></a></li>
                                        <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li> -->
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Suiza</a></h6>
                                    <div class="small text-secondary" >
                                        Cubierta y espejo de madera con ovalin chico. 
                                    </div>
                                    <div class="product__price">$ 3,000</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 xs mar eco">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="../../img/shop/muebles_de_bano-6.jpg">
                                    <ul class="product__hover">
                                        <li><a href="../../img/shop/muebles_de_bano-6.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="../productDetails/Completo-Mármol-60.html" ><span class="icon_info"></span></a></li>
                                        <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li> -->
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Darita</a></h6>
                                    <div class="small text-secondary" >
                                        Cubierta y espejo de madera con ovalin chico. 
                                    </div>
                                    <div class="product__price">$ 2,500</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 s mar eco">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="../../img/shop/muebles_de_bano-7.jpg">
                                    <ul class="product__hover">
                                        <li><a href="../../img/shop/muebles_de_bano-7.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="../productDetails/Completo-Mármol-60.html" ><span class="icon_info"></span></a></li>
                                        <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li> -->
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Irlanda</a></h6>
                                    <div class="small text-secondary" >
                                        Cubierta y espejo de madera con ovalin chico. 
                                    </div>
                                    <div class="product__price">$ 3,000</div>
                                </div>
                            </div>
                        </div>
            
                        <!-- ========================   FIN MÁRMOL  ======================-->
                        <!-- ========================   INICIO ÓNIX  ======================-->
                        <div class="col-lg-4 col-md-6 s oni com">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="../../img/shop/muebles_de_bano-8.jpg">
                                    <ul class="product__hover">
                                        <li><a href="../../img/shop/muebles_de_bano-8.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="../productDetails/Económico-Mármol-80.html" ><span class="icon_info"></span></a></li>
                                        <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li> -->
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Juego ónix 60</a></h6>
                                    <div class="small text-secondary" >
                                        Cubierta y espejo de ónix. 
                                    </div>
                                    <div class="product__price">$ 6,000</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 l oni com">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="../../img/shop/muebles_de_bano-9.jpg">
                                    <ul class="product__hover">
                                        <li><a href="../../img/shop/muebles_de_bano-9.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="../productDetails/Económico-Mármol-80.html" ><span class="icon_info"></span></a></li>
                                        <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li> -->
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Juego ónix 80</a></h6>
                                    <div class="small text-secondary" >
                                        Cubierta y espejo de ónix. 
                                    </div>
                                    <div class="product__price">$ 7,000</div>
                                </div>
                            </div>
                        </div>
            
                        <!-- ========================   FIN ÓNIX  ======================-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

     <!-- Instagram Begin -->
     <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-1.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-2.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-3.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-4.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-5.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-6.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ gimsaperiodismo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="../../index.html"><img src="../../img/logo.png" alt=""></a>
                        </div>
                        <p>🇲🇽 Empresa michoacana con más de 10 años de experiencia en la fabricación de vitrinas y
                            mostradores. Muebles de baño artesanales de melamina en combinación con mármol, ónix y cristal. Diseño e instalación de cocinas y clósets. </p>
                        <div class="footer__payment">
                            <a href="#"><img src="../../img/payment/payment-1.png" alt=""></a>
                            <a href="#"><img src="../../img/payment/payment-2.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>CONTÁCTANOS EN NUESTRAS REDES SOCIALES</h6>
                        <div class="footer__social">
                            <a href="https://www.instagram.com/gimsaperiodismo/"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/periodismo.g.p"><i class="fa fa-facebook"></i></a>
                            <a href="https://wa.me/message/SUEFE3HXP3G3E1  "><i class="fa fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery.magnific-popup.min.js"></script>
    <script src="../../js/jquery-ui.min.js"></script>
    <script src="../../js/mixitup.min.js"></script>
    <script src="../../js/jquery.countdown.min.js"></script>
    <script src="../../js/jquery.slicknav.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/jquery.nicescroll.min.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/catalogos/mueblesdebano.js"></script>
</body>

</html>